:root {
    --main-color: #FF0000;
    --sec-color: #666666;
    --third-color: white;
    --hover-color: #007BCE;
    --font-color: #000;
    --main-transition: 0.3s;
    --dark-main-color:#b90000;
    --section-padding: 60px;
    --bg-color: #838383;
    --icon-color: #FFA200;
}

body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    /* height: 8000px; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.main-btn {
    border: 1px solid var(--main-color);
    background-color: var(--third-color);
    transition: var(--main-transition);
    color: var(--main-color);
}

.main-btn:hover {
    background-color: var(--main-color);
    color: var(--third-color);
}

.sec-main-btn {
    background-color: var(--main-color);
    color: var(--third-color);
}

.sec-main-btn:hover {
    background-color: var(--main-color);
    color: var(--third-color);
}


/* Start Header */
.header img {
    height: 60px;
}

.links {
    color: var(--font-color);
    transition: var(--main-transition);
}

.links:hover {
    color: var(--sec-color);
}

.call {
    flex: 1;
}
/* End Header */

/* Start Slider */
.form {
    width: 65%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.form input {
    width: 90%;
}
.form input:focus {
    outline: none;
    caret-color: var(--main-color);
}
/* Drop Down */
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

  /* The search field */
    #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

  /* The search field when it gets focus/clicked on */
    #myInput:focus {outline: 3px solid #ddd;}

  /* The container <div> - needed to position the dropdown content */
    .dropdown {
    position: relative;
    display: inline-block;
}
  /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}
  /* Links inside the dropdown */
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Drop Down */
/* End Slider */

/* Start Advertisment */
.advertisement {
    margin-top: 8rem;
}

.advertisement img,
.ads img {
    height: 100%;
    max-width: 100% ;
}

.advertisement a, 
.ads a {
    text-decoration: none;
    color: var(--main-color);
}

.advertisement .feat, 
.ads .feat {
    -webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    -moz--webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.advertisement .feat p,
.ads .feat p {
    height: 72px;
}

.advertisement .pagin {
    color: black;
    transition: var(--main-transition);
}


.pagin:focus {
    box-shadow: none;
    color: var(--third-color);
    background-color: var(--main-color);
}

.pagin:hover {
    background-color: var(--main-color);
    color: var(--third-color);
}
/* End Advertisment */

/* Start Company */
.back-gr {
    background: url(../img/company-bg.jpg) no-repeat;
    min-height: 20vh;
    background-size: cover;
}

.company {
    margin-top: 4rem;
}

.company img {
    height: 200px;
    width: 100% ;
}

.company a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--main-color);
    transition: var(--main-transition);
}

.company .title a:hover {
    color: var(--hover-color);
}

.company .feat {
    transition: var(--main-transition);
    cursor: pointer;
    -webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    -moz--webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.company .feat p {
    height: 72px;
}

.company .pagin {
    color: black;
    transition: var(--main-transition);
}

.company .pagin:hover {
    background-color: var(--main-color);
    color: var(--third-color);
}
/* End Company */

/* Start Sign In */
.sign-in {
    width: 50%;
    -webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    -moz--webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.sign-in form input {
    caret-color: var(--main-color);
}

.sign-in form input:focus {
    outline: none;
}

.sign-in form a {
    color: var(--main-color);
    transition: var(--main-transition);
}

.sign-in form a:hover {
    color: var(--hover-color);
}
/* End Sign In */

/* Start Call Us And Sign Up */
.call-us form input, 
.sign-up form input{
    caret-color: var(--main-color);
}

.call-us form input::placeholder, 
.sign-up form input::placeholder{
    font-size: 13px;
}

.call-us form input:focus,
.call-us form textarea, 
.sign-up form input:focus{
    outline: none;
}

.call-us form select, 
.sign-up form select{
    font-size: 13px;
    padding: 0.2rem;
}
/* End Call Us And Sign-up */

/* Start Info */
.offer .slider {
    width: 75%;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

.slider .big-img {
    height: 50%;
}

  /* Hide the images by default */
.mySlides {
    display: none;
}

  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    left: 2rem;
    border-radius: 3px 0 0 3px;
}
.prev {
    right: 2rem;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    transition: var(--main-transition);
    border-radius: 8px;
    cursor: pointer;
}

    .active,
    .demo:hover {
    opacity: 1;
}

.offer .slider .cont p {
    width: 75%;
}

.address {
    font-size: 2rem;
}

.description {
    background-color: var(--bg-color);
    flex-basis: 30%;
}

.description i {
    color: var(--icon-color);
    font-size: 2rem;
}

.description .saler h4 {
    background-color: #9B9B9B;
}

.content .table .box {
    flex: 0.5;
}

.offer .favourite .blue {
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    background: -o-linear-gradient(top, #3b5998, #2b4170);
}

.offer .favourite .cyan {
    background-color: #0081ce;
    background: -moz-linear-gradient(top, #00aced, #0081ce);
    background: -ms-linear-gradient(top, #00aced, #0081ce);
    background: -webkit-linear-gradient(top, #00aced, #0081ce);
    background: -o-linear-gradient(top, #00aced, #0081ce);
}

.offer .favourite .green {
    background-color: #4dc247;
    background: -moz-linear-gradient(top, #55d94f, #4dc247);
    background: -ms-linear-gradient(top, #55d94f, #4dc247);
    background: -webkit-linear-gradient(top, #55d94f, #4dc247);
    background: -o-linear-gradient(top, #55d94f, #4dc247);
}

/* End Info */

/* Start Profile */
.profile .user i {
    padding-bottom: 3px;
}
/* End Profile */

/* Start Footer */
.footer {
    background:url(../img/footer.jpg) no-repeat;
    background-size: cover;
    min-height: 40vh;
}

.footer img {
    height: 60px;
}

.footer-area {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    background-color: rgba(255, 255, 255, 0.89)
}

.footer h4 {
    color: var(--sec-color);
}
.footer .my-info p {
    /* width: 255px; */
    font-size: 0.8rem;
    color: var(--sec-color);
}

.footer .info a {
    color: var(--sec-color);
    font-size: 13px;
    border-bottom: 1px solid var(--main-color);
    transition: var(--main-transition);
}

.footer .info a:hover {
    color: var(--main-color);
}

.foot {
    padding-top: 4px;
    font-size: 14px;
}

.foot .foot-1 {
    color: var(--main-color);
}

.foot a {
    color: var(--sec-color);
    transition: var(--main-transition);
}

.foot a:hover {
    color: var(--main-color);
}

/* End Footer */

/* Media */
@media (max-width: 992px) {
    .back-gr {
        min-height: 13vh;
    }
    .slider form {
        width: 90%;
    }

    .footer {
        min-height: 25vh;
    }

    .footer .my-info p {
        font-size: 11px;
    }

    .footer .my-info span {
        font-size: 0.6rem;
    }

    .sign-in {
        width: 90%;
    }

    .offer .slider {
        width: 100%;
        margin-bottom: 2rem;
    }

    .offer .slider .cont {
        text-align: center;
    }

    .offer .slider .cont p {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .back-gr {
        min-height: 15vh;
    } 
    .form {
        width: 100%;
        top: 138%;
    }
    select {
        width: 100%;
    }
    .advertisement {
        margin-top: 26rem;
    }
    .company h4 a {
        font-size: 1.4rem;
    }

    .slider .big-img {
        height: 50vh;
    }
    .footer {
        height: 60vh;
    }
    .footer .my-info span {
        font-size: 0.7rem;
    }
    .foot {
        padding-bottom: 1rem;
        font-size: 13px;
    }

    .offer .social-icon span {
        display: none;
    }
}

